$mobile: 57.6rem;
$tablet: 76.8rem;
$smallDesktop: 99.2rem;

.Slider {

  height: 12rem;
  width: 93.5rem;
  margin-left: 33rem;
  flex-direction: row;

  .react-multiple-carousel__arrow--left {
    margin-left: -3.8rem;
    height: 1rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    margin-top: 0rem;
    z-index: 0;

  }

  .react-multiple-carousel__arrow--right {

    height: 1rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    margin-top: 0rem;
    z-index: 0;
  }

  .Card-Container {

    display: flex;
    width: 11.5rem;
    height: 11.8rem;
    justify-content: center;

    .image-container {

      display: flex;
      align-self: center;
      width: 10rem;
      height: 10rem;
      padding-right: 2rem;
      flex-direction: column;


      img {
        align-self: center;
        height: 8.3rem;
        width: 8.3rem;
        border-radius: 50%;
      }

      .SpanClass {
        cursor: pointer;
        display: block;
        @include header-font-family;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        padding-top: 1rem;
      }

    }
  }
}

//media queries

@media only screen and (max-width: $mobile) {
    .Slider {

        display:none;
    }
  }
  
  @media only screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    .Slider{

        display:none;
    }
  }